.barsButton {
	background-color: transparent;
	border: 0;
}

.bars {
	background-color: #3f3a4e;
	color: white;
	font-size: 3rem;
}

.menuItem {
	margin-bottom: 5px;
}

@media (min-width: 700px) {
	.barsButton {
		display: none;
	}
}
