.barsButton {
	background-color: transparent;
	border: 0;
}

.bars {
	background-color: #3f3a4e;
	color: white;
	font-size: 3rem;
}

.menuItem {
	display: block;
	padding-left: 40px;
	background-color: black;
	/* background-color: rgb(1, 56, 50); */
	margin-bottom: 5px;
	border-radius: 10px;
}

@media (min-width: 700px) {
	.barsButton {
		display: none;
	}
}
