.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	min-height: 100vh;
	background-color: transparent;
	max-width: 1000px;
}
.main {
	flex: 1;
	display: flex;
	margin: 3rem auto;
	width: 100%;
	/* max-width: 40rem; */
}
