.article-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #2f2b3b; */
	background-color: transparent;
}

.article-container img {
	/* padding: 0 20vh; */
	height: 60vh;
}

.article p,
.article a {
	text-align: justify;
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}
